# Ignore node_modules
node_modules/

# Ignore les fichiers logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore les dossiers spécifiques à IDEs
.vscode/
.idea/

# Ignore les fichiers spécifiques aux systèmes d'exploitation
.DS_Store
Thumbs.db

# Ignore les fichiers de build
dist/
build/

# Ignore les fichiers de configuration de tests
coverage/
