<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site du BDE</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- Bandeau avec les onglets -->
    <header>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/events">Événements</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/boutique">Boutique</a></li>
          <li><a href="/login">login</a></li>
        </ul>
      </nav>
      <h1>BDE Paris Ynov Campus</h1>
      <img src="BDE-main_logo.png" alt="Logo BDE Vert" class="logo-vert" />
      <img src="BDE-logo_noir.png" alt="Logo BDE Noir" class="logo-noir" />
    </header>

    <!-- Contenu principal -->
    <main>
      <section class="intro">
        <h2>Bienvenue sur le site du BDE Paris Ynov Campus !</h2>
        <p>
          Restez informé des derniers événements et annonces de votre campus.
        </p>
      </section>

      <section class="features">
        <h3>Nos Services</h3>
        <ul>
          <li><a href="/events">Événements à venir</a></li>
          <li><a href="/contact">Contactez-nous</a></li>
          <li><a href="/boutique">Découvrez notre boutique</a></li>
          <li><a href="/jsp">jsp</a></li>
          <li><a href="/login">login</a></li>
          <li><a href="/annonce">Voir les annonces</a></li>
        </ul>
        <section class="events">
          <h3>Événements à venir</h3>
          <ul>
            <li>
              <h4>Soirée Karaoké</h4>
              <p>Date: 25 mars 2025</p>
              <p>Lieu: Salle 101</p>
              <a href="#">Inscrivez-vous ici</a>
            </li>
            <li>
              <h4>Compétition de jeux vidéo</h4>
              <p>Date: 1er avril 2025</p>
              <p>Lieu: Salle 202</p>
              <a href="#">Inscrivez-vous ici</a>
            </li>
          </ul>
        </section>
      </section>
    </main>

    <footer>
      <p>
        Suivez-nous sur Instagram :
        <a href="https://www.instagram.com/ynovparisbde/" target="_blank"
          >@ynovparisbde</a
        >
      </p>
    </footer>
  </body>
</html>
