<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site du BDE</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/events">Événements</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/boutique">Boutique</a></li>
          <li><a href="/nous le bde?">nous bde </a></li>
          <li><a href="/association">Association</a></li>
          <li><a href="/annonce">Annonce</a></li>
        </ul>
      </nav>
      <h1>BDE Paris Ynov Campus</h1>
      <img src="BDE-main_logo.png" alt="Logo BDE" class="logo" width="20%" />
    </header>

    <main>
      <h2>bienvenue !</h2>
      <p></p>
      <p>
        Le BDE, bien sûr ! Nous les pros de l'ambiance avec ce site à notre
        image : dynamique, fun et ultra-pratique.
      </p>

      <h3>🌟 Le BDE, c'est quoi ?</h3>
      <ul>
        <li>
          Des événements IN-CRO-YA-BLES sur le campus : stands gourmands,
          rencontres partenaires, animations de folie...
        </li>
        <li>
          Des soirées, afterworks et week-ends qui vont marquer vos annales
          étudiantes.
        </li>
        <li>
          Des bons plans, des codes promo et des projets secrets en préparation.
        </li>
      </ul>
      <p>Leur objectif ? Vous faire kiffer votre vie étudiante à 200% !</p>

      <h3>🎯 notre mission ?</h3>
      <ul>
        <li>
          vous partagez et vous infomrez grace a ce site web qui permet aux
          étudiants de ne rien rater des événements du BDE
        </li>
        <li>
          Grace à une plateforme interactive pour s'inscrire, participer et
          interagir avec l'association.
        </li>
        <li>
          Faire de ce site LE point de ralliement de tous les étudiants d'Ynov !
        </li>
      </ul>

      <p>
        Alors, prêts à relever le défi ? Montrez au BDE ce que vous avez dans le
        ventre et laissez votre empreinte sur la vie étudiante d'Ynov !
      </p>
        
      </ul>

      <p>
        Rejoignez-nous et ne manquez rien de ce qui se passe sur le campus !
      </p>

</main>

    <footer>
      <p>
        Suivez-nous sur Instagram :
        <a href="https://www.instagram.com/ynovparisbde/" target="_blank"
          >@ynovparisbde</a
        >
      </p>
    </footer>
  </body>
</html>
