<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site du BDE</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/events">Événements</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/boutique">Boutique</a></li>
          <li><a href="/login">login</a></li>
        
   
      </nav>
      <h1>BDE Paris Ynov Campus</h1>
      <img src="BDE-main_logo.png" alt="Logo BDE Vert" class="logo-vert" />
      <img src="BDE-logo_noir.png" alt="Logo BDE Noir" class="logo-noir" />
    </header>

    <main>
      <h2>Bienvenue !</h2>

      <p>
        Le BDE, bien sûr ! Nous sommes les pros de l'ambiance avec ce site à
        notre image : dynamique, fun et ultra-pratique.
      </p>

      <h3>🌟 Le BDE, c'est quoi ?</h3>
      <ul>
        <li>
          Des événements IN-CRO-YA-BLES sur le campus : stands gourmands,
          rencontres partenaires, animations de folie...
        </li>
        <li>
          Des soirées, afterworks et week-ends qui vont marquer vos années
          étudiantes.
        </li>
        <li>
          Des bons plans, des codes promo et des projets secrets en préparation.
        </li>
      </ul>
      <p>Notre objectif ? Vous faire kiffer votre vie étudiante à 200% !</p>

      <h3>🎯 Notre mission ?</h3>
      <ul>
        <li>
          Vous informer grâce à ce site web qui permet aux étudiants de ne rien
          rater des événements du BDE.
        </li>
        <li>
          Proposer une plateforme interactive pour s'inscrire, participer et
          interagir avec l'association.
        </li>
        <li>
          Faire de ce site LE point de ralliement de tous les étudiants d'Ynov !
        </li>
      </ul>

      <p>
        Alors, prêts à relever le défi ? Montrez au BDE ce que vous avez dans le
        ventre et laissez votre empreinte sur la vie étudiante d'Ynov !
      </p>

      <p>
        Rejoignez-nous et ne manquez rien de ce qui se passe sur le campus !
      </p>

    </main>

    <footer>
      <p>
        Suivez-nous sur Instagram :
        <a href="https://www.instagram.com/ynovparisbde/" target="_blank">@ynovparisbde</a>
      </p>
    </footer>
  </body>
</html>